---
layout: post-index
title: "Index"
description: "Blog Bút Chì Số"
tags: [blog, lap-trinh, database, natural-language-processing]
image:
  feature: abstract-5.jpg
---


<article class="hentry">
  <div class="entry-content">
    <ul>
    {% for post in paginator.posts %}
        <li>
          <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          <div class="post-meta pull-right">{{ post.date | date: "%B %d, %Y" }}</div>
        </li>
    {% endfor %}
    </ul>
  </div><!-- /.entry-content -->
</article><!-- /.hentry -->


<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ site.url }}/" class="btn">Previous</a>
    {% else %}
      <a href="{{ site.url }}/page{{ paginator.previous_page }}" class="btn">Previous</a>
    {% endif %}
  {% else %}
    Previous
  {% endif %}
  <ul class="inline-list">
    <li>
      {% if paginator.page == 1 %}
        <span class="current-page">1</span>
      {% else %}
        <a href="{{ site.url }}/">1</a>
      {% endif %}
    </li>
    {% for count in (2..paginator.total_pages) %}
      <li>
        {% if count == paginator.page %}
          <span class="current-page">{{ count }}</span>
        {% else %}
          <a href="{{ site.url }}/page{{ count }}">{{ count }}</a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% if paginator.next_page %}
    <a href="{{ site.url }}/page{{ paginator.next_page }}" class="btn">Next</a>
  {% else %}
    Next
  {% endif %}
</div><!-- /.pagination -->